<h4 class="page-title">User Config</h4>
<div class="block-area" id="horizontal">
	
	<h3 class="block-title">Overview Profile</h3>
	<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-md-2 control-label">User Name</label>
		<div class="col-md-10">
			<p class="form-control-static"><%= @user.username %></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Email</label>
		<div class="col-md-10">
			<p class="form-control-static"><%= @user.email %></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Full Name</label>
		<div class="col-md-10">
			<p class="form-control-static"><%= @user.full_name %></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Profile</label>
		<div class="col-md-10">
			<p class="form-control-static"><%= @user.profile.html_safe if @user.profile %></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Theme Preference</label>
		<div class="col-md-10">
			<p class="form-control-static"><%= @user.theme_preference %></p>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-md-2 control-label">Avatar</label>
		<div class="col-md-10">
			<p class="form-control-static">
				<img class="profile-pic animated" src="<%= current_user.avatar.file != nil ? current_user.avatar.url : "/img/profile-pic.jpg" %>" alt="">
			</p>
		</div>
	</div>
	</form>
</div>