<h4 class="page-title b-0">Api Keys</h4>

<div class="table-responsive overflow" style="overflow: hidden; outline: none;">
	<table class="table table-bordered table-hover tile">
	  <thead>
	    <tr>
		      <th>Key</th>
		      <th>Status</th>
		      <th class="text-right"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @api_keys.each do |api_key| %>
	      <tr>
		        <td><%= api_key.key %></td>
		        <td><%= api_key.status %></td>
		        <td class="text-right"><%= link_to api_key, :class => "btn m-r-5" do %><i class="fa fa-eye fa-fw"></i><% end %>
	        <%= link_to edit_api_key_path(api_key), :class => "btn m-r-5" do %><i class="fa fa-pencil fa-fw"></i><% end %>
	        <%= link_to api_key, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn m-r-5" do %><i class="fa fa-trash fa-fw"></i><% end %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<br>

<%= link_to 'New Api key', new_api_key_path, :class => "btn" %>