<%= form_for(@safke, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @safke.errors.any? %>
    <div id="error_explanation">
      <h3 class="block-title"><%= pluralize(@safke.errors.count, "error") %> prohibited this safke from being saved:</h3>

      <% @safke.errors.full_messages.each do |message| %>
        <div class="alert alert-info"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :created_at,:class => "col-md-2 control-label" %>
    <div class="col-md-10">
    <%= f.text_field :created_at, :class => "form-control m-b-10 mask-date_time", :placeholder => "time" %>
    </div>
  </div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<%= f.submit "Submit",:class => "btn btn-info btn-sm m-t-10" %>
		</div>
	</div>
<% end %>