<!DOCTYPE html>
<html>
<head>
  <title>Zoë Advanced Home System 0.1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body id="skin-blur-yellow">
	
        <section id="login">
            <header>
                <h1>ZOË ADVANCED HOME SYSTEM 0.1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
            </header>
        
            <div class="clearfix"></div>
            <%= content_tag(:div, notice, :class => "alert alert-info") if notice %>
            <%= content_tag(:div, alert, :class => "alert alert-warning") if alert %>
            <%= yield %>
            
        </section>  
				

        
</body>
</html>
